---
import ImagenBanner from "../components/ImagenBanner.astro";
import TextoQueOfrecemos from "../components/textComponents/TextoQueOfrecemos.astro";
import TextoQuienesSomos from "../components/textComponents/TextoQuienesSomos.astro";
import TextoSection from "../components/TextoSection.astro";
import Baseeelayout from "../layouts/Baseeelayout.astro";
import "../styles/global.css";

const pageTitle = "Sobre nosotros";

const identity = {
  firstName: "gaston",
  lastName: "fuentes",
  country: "Argentina",
  hobbies: ["leer", "bailar", "padel"],
};

const skills = ["html", "css", "js"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<Baseeelayout pageTitle = "Nosotros">
  <style define:vars={{ skillColor, fontWeight, textCase }}>
    h1 {
      color: blueviolet;
      font-size: xx-large;
    }
    .skills {
      color: var(--skillColor);
      font-weight: var(--fontWeight);
      text-transform: var(--textCase);
    }
  </style>

  <ImagenBanner img="/gasoducto1.jpg" desc="sobre nosotros"/>

  <TextoSection titulo="Quienes Somos?" fondo='url("/fondito-para-banner.jpg")'> 
    <TextoQuienesSomos />
  </TextoSection>

  <TextoSection titulo="Que Ofrecemos" fondo='url("/fondito-para-banner.jpg")'>
    <TextoQueOfrecemos />
  </TextoSection>



    <!-- <h3>mis skills son:</h3>
    {skills.map((s) => <li class="skills">{s}</li>)}

    {happy && <p>aguante river!!</p>}
    {finished && <p>aguante Quintela</p>}
    {goal === 3 ? <p>todo ok</p> : <p>todo mal</p>} -->
</Baseeelayout>
