---
import BlogPosts from "../components/BlogPosts.astro";
import Baseeelayout from "../layouts/Baseeelayout.astro";

/* obtenemos todos los posts en un array */
const allPosts = await Astro.glob('../pages/posts/*.md')

/* console.log(allPosts[0].frontmatter) */
---


<Baseeelayout pageTitle = "Noticias">
  <ul>
    {allPosts.map((post)=>(
      /* <li><a href={post.url}>{post.frontmatter.title}</a></li> */
      <BlogPosts url = {post.url} title = {post.frontmatter.title} />
    ))}
  </ul>
</Baseeelayout>
