---
---

<style>
  #contenedor-banners-inst {
    display: grid;
    gap: 1rem;
    margin-top: 2rem;
  }
  #banner-sedes {
    background-image: linear-gradient(
        rgba(200, 0, 0, 0.743),
        rgba(200, 0, 0, 0.303)
      ),
      url(/sucursales.jpg);
    padding: 4rem 2rem;
    background-size: cover;
    color: white;
  }
  #contenedor-sedes {
    display: grid;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
  }
  @media screen and (min-width: 768px) {
    #contenedor-sedes {
      grid-template-columns: auto auto auto;
    }
  }
  #contenedor-sedes h1 {
    font-size: xxx-large;
    text-shadow: 0px 2px 2px black;
  }
  #contenedor-sedes h3 {
    text-decoration: underline;
    font-size: x-large;
  }
  #contenedor-sedes p {
    font-size: medium;
    text-decoration: none;
    margin: 0;
  }

  #banner-trabaja {
    background-image: linear-gradient(
        rgba(255, 178, 44, 0.825),
        rgba(255, 178, 44, 0.305)
      ),
      url(/llamaEncendida3.jpg);

    padding: 2rem;
    background-size: cover;
    display: grid;
    justify-items: end;
  }
  #contenedor-trabaja {
    display: grid;
  }
  @media screen and (min-width: 768px) {
    #contenedor-trabaja {
      width: 50%;  
      justify-items: center;    
    }
  }
  #contenedor-trabaja h1 {
    color: white;
    font-size: xxx-large;
    text-align: center;
    line-height: initial;
    margin: 0;
    text-shadow: 0px 2px 2px black;
  }
  #contenedor-trabaja p {
    font-size: medium;
    font-weight: bold;
    text-align: center;
  }
  .btn {
    background-color: red;
    border: none;
    padding: 1rem;
    color: white;
    cursor: pointer;
    transition: all 1s;
    margin: 1rem;
    text-align: center;
    width: 50%;
  }
  .btn:hover {
    background-color: rgb(206, 0, 0);
  }
</style>

<div id="contenedor-banners-inst">
  <div id="banner-sedes">
    <div id="contenedor-sedes">
      <h1>Sedes</h1>
      <div>
        <h3>La Rioja - Capital</h3>
        <p>Buenos Aires 337</p>
      </div>
      <div>
        <h3>Depto. Chamical</h3>
        <p>Juan Domingo Peron 130</p>
      </div>
    </div>
  </div>

  <div id="banner-trabaja">
    <div id="contenedor-trabaja">
      <h1>Trabajá con nosotros</h1>
      <p>Si sos profesional, gasista matriculado y estas buscando trabajo</p>      
      <a href="/contacto" class="btn">Contactanos</a>
    </div>
  </div>
</div>
