---
---

<style>
  #contenedor-banners-inst {
    display: grid;
    gap: 1rem;
  }
  #banner-sedes {
    background-image: linear-gradient(
        rgba(200, 0, 0, 0.743),
        rgba(200, 0, 0, 0.303)
      ),
      url(/sucursales.jpg);
    padding: 4rem 2rem;
    background-size: cover;
    color: white;
  }
  #contenedor-sedes {
    display: grid;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
  }
  @media screen and (min-width: 768px) {
    #contenedor-sedes {
      grid-template-columns: auto auto auto;
    }
  }
  #contenedor-sedes h1 {
    font-size: xxx-large;
  }
  #contenedor-sedes h3 {
    text-decoration: underline;
    font-size: x-large;
  }
  #contenedor-sedes p {
    font-size: medium;
    text-decoration: none;
    margin: 0;
  }

  #banner-trabaja {
    background-image: linear-gradient(
        rgba(255, 176, 44, 0.7),
        rgba(255, 176, 44, 0)
      ),
      url(/llamaEncendida3.jpg);

    padding: 2rem;
    background-size: cover;
    display: grid;
    justify-items: end;
  }
  #contenedor-trabaja {
    display: grid;
    width: 50%;
    justify-items: end;
  }
</style>

<div id="contenedor-banners-inst">
  <div id="banner-sedes">
    <div id="contenedor-sedes">
      <h1>Sedes</h1>
      <div>
        <h3>La Rioja - Capital</h3>
        <p>Buenos Aires 337</p>
      </div>
      <div>
        <h3>Depto. Chamical</h3>
        <p>Juan Domingo Peron 130</p>
      </div>
    </div>
  </div>

  <div id="banner-trabaja">
    <div id="contenedor-trabaja">
      <h1>Trabaja con nosotros</h1>
      <p>Si sos profesional, gasista matriculado y estas buscando trabajo</p>
      <button>Contactanos</button>
    </div>
  </div>
</div>
