---

---

<div>
    <div>
      <div>
        <h1>Sedes</h1>
        <h5>La Rioja - Capital <span>Buenos Aires 337</span></h5>
        <h5>Depto. Chamical <span>Juan Domingo Peron 130</span></h5>        
      </div>      
    </div>

    <div>
        <div>
            <h2>Trabaja con nosotros</h2>
            <p>Si sos profesional, gasista matriculado y estas buscando trabajo</p>
            <button>Contactanos</button>
        </div>
    </div>

  </div>