---
import Social from "./Social.astro";

const platform = "github";
const username = "withastro";
---

<style>
  footer {
    display: grid;
    grid-template-rows: auto auto;
    margin-top: 2rem;
    background-color: white;
    padding-top: 1rem;
    gap: 1rem;
  }
  #footer-columns {
    display: grid;
    justify-items: center;
    gap: 1rem;
  }
  #footer-columns img {
    width: 200px;
  }
  #footer-columns-img {
    display: flex;
    align-items: center;
  }
  #footer-columns ul,
  li,
  a {
    color: gray;
  }
  #footer-columns h2 {
    font-size: medium;
  }

  #copy {
    background-color: #ea1b36;
    display: flex;
    justify-content: center;
    color: white;
    font-size: small;
  }

  @media screen and (min-width: 768px) {
    footer {
    }
    #footer-columns {
      grid-template-columns: 2fr 1fr 1fr;
    }
    #footer-columns ul,
    li,
    a {
      font-size: small;
    }
  }
  .contacto-icono {
    display: grid;
    grid-template-columns: 1rem 1fr;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.2rem;
  }
  .contacto-icono img {
    width: 10px;
  }
  .contacto-icono p {
    margin: 0;
  }
</style>

<footer>
  <div id="footer-columns">
    <div id="footer-columns-img">
      <img src="/logo.svg" alt="logo elargas" />
    </div>
    <div id="footer-contacto">
      <h2>Contacto</h2>
      <ul>
        <li>
          <div class="contacto-icono">
            <img src="/i.png" alt="icono-tel" />
            <p>23423879</p>
          </div>
        </li>
        <li>
          <div class="contacto-icono">
            <img src="/carta.png" alt="icono-carta" />
            <a href="mailto:info@elargas.com.ar">info@elargas.com.ar</a>
          </div>
        </li>
        <li>
          <div class="contacto-icono">
            <img src="/face.png" alt="icono-facebook" />
            <a href="https://www.facebook.com/ELaRGAS/" target="_blank">Elargas</a>
          </div>
        </li>
        <li>
          <div class="contacto-icono">
            <img src="/insta.png" alt="icono-instagram" />
            <a href="https://www.instagram.com/elargas.lr/" target="_blank">Elargas.lr</a>
          </div>
        </li>
        <li>
          <div class="contacto-icono">
            <img src="/linkind.png" alt="icono-linkedin" />
            <a href="https://www.linkedin.com/company/elargas-s-a-p-e-m/" target="_blank">Elargas S.A.P.E.M</a>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <h2>Mapa del sitio</h2>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/nosotros">Nosotros</a></li>
        <li><a href="/llama-encendida">Llama encendida</a></li>
        <li><a href="/gasoducto/">Gasoducto</a></li>
        <li><a href="/noticias">Noticias</a></li>
        <li><a href="contacto">Contacto</a></li>
      </ul>
    </div>
  </div>
  <div id="copy">
    <p>Copyright © 2023 ELaRGAS</p>
  </div>
  <!-- <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p>
  <Social platform="facebook" username="gastonfuentes" />
  <Social platform="instagram" username="gastonfuentes" /> -->
</footer>
