---
---

<style>
  #contenedor {
    background-color: white;
    display: grid;
    gap: 4rem;
    padding: 4rem;
  }
  @media screen and (min-width: 768px) {
    #contenedor {
      /* display: grid; */
      grid-template-columns: 1fr 1fr 1fr;
      padding: 6rem;
      gap: 4rem;
    }
  }
  .bloque {
    display: grid;
    align-items: center;
  }
</style>

<div id="contenedor">
  <div class="bloque"><img src="/mejor.png" alt="logo mejor riojanas" /></div>
  <div class="bloque"><img src="/ministerio.png" alt="logo ministerio" /></div>
  <div class="bloque"><img src="/gobierno.png" alt="logo gobierno" /></div>
</div>
