---
---

<div class="nav-links">
  <div id="logo">
    <a href="/"><img src="/logo.svg" alt="" /></a>
  </div>
  <div class="enlaces">
    <a href="/">Inicio</a>
    <a href="/nosotros/">Nosotros</a>
    <a href="/llama-encendida/">Llama encendida</a>
    <a href="/noticias/">Noticias</a>
    <a href="/contacto/">Contacto</a>
  </div>
</div>
