---
import TextoQuienesSomos from "./textComponents/TextoQuienesSomos.astro";

const { titulo, fondo } = Astro.props;
---

<style define:vars={{ fondo }}>
    section{
        padding: 2rem 4rem;
        background: var(--fondo);
        /* gap: 2rem; */
    }
    section h2{
        color: #FD2400;
    }
</style>

<section>
  <h2>{titulo}</h2>
  <slot />
</section>
