<p>
  La presente obra tiene por objeto la construcción de los gasoductos de
  alimentación y sus instalaciones complementarias, para el abastecimiento de
  gas natural al Sistema El Productivo Primera Etapa. Casa de Piedra – Chamical
  - Patquía, Provincia de La Rioja. En total serían 188,40 km de gasoducto y 3
  instalaciones superficiales. Esta obra está destinada tanto al abastecimiento
  de gas para uso residencial, como para uso industrial.
</p>
