<style>
  ul {
    list-style-type: disc !important;
    padding-inline-start: 40px !important;
  }
</style>

<p>
  Entendemos al gas natural como un combustible econ칩mico seguro y confiable que
  es indispensable para despegar el desarrollo productivo de la regi칩n y como
  combustible necesario para mejorar la calidad de vida de sus habitantes.
</p>
<ul>
  <li>
    Desarrollamos gasoductos e instalaciones superficiales para gasificar
    localidades, llevando el gas natural hasta la entrada de la localidad.
  </li>
  <li>
    Desarrollamos redes de distribuci칩n de gas natural para acercar el servicio
    hasta la puerta de la casa de los residentes.
  </li>

  <li>
    Desarrollamos instalaciones domiciliarias para garantizar que el gas natural
    llegue adentro de la casa de los residentes
  </li>
  <li>
    Desarrollamos instalaciones comerciales e industriales para compartir
    nuestro conocimiento a empresas y ofrecerle soluciones que aumenten su
    productividad.
  </li>
</ul>
<p>
  Llevar a cu치l localidad provincial podamos, gas natural hasta adentro de las
  casas y ofrecer soluciones a empresas que aumenten su productividad
</p>
